fastapi
uvicorn[standard]
pydantic
pydantic-settings
pydantic[email]
sqlalchemy
asyncpg
psycopg2-binary
pgvector
alembic
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
python-dotenv
aiofiles
apscheduler
pytest
pytest-asyncio
